{% extends 'base.html' %}

{% block tiltle %}
Portfolio Page
{% endblock %}

{% block content %}

<div class="container portfolio">
    <div class="row">
        {% for port in contacts %}
            <div class="col-lg-4">
            {% if port.thumbnail %}
                <div class="card">
                <img class="card-img-top img-thumbnail " src="{{ port.thumbnail.url }}"  alt="No pics">
                <h3 class="card-title text-center">{{ port.name }}</h3>
                    <p class="text-center"><span class="badge badge-primary">{{ port.get_categories_display }}</span></p>
                <p class="card-text text-center">{{ port.description }}</p>
                    <a class="btn btn-success" href="{% url 'portfolio:port-detail' port.pk %}">Read More</a>
                    {% if request.user.is_superuser %}
                    <a class=" mt-4 btn btn-primary" href="{% url 'portfolio:port-update' port.pk %}">Edit portfolio
                    {% endif %}

                </div>
            {% endif %}
            </div>
        {% endfor %}
    </div>
    <hr>
                    <div class="container  d-flex  justify-content-center">
                    <nav aria-label="page navigation example">
                    <ul class="pagination">
                    {% if contacts.has_previous %}
                        <li class="page-item"><a class="page-link" href="?page=1">&laquo; first</a></li>
                        <li class="page-item"><a class="page-link" href="?page={{ contacts.previous_page_number }}">previous</a></li>
                    {% endif %}
                        <li class="page-item"><a class="page-link" href="#">Page {{ contacts.number }} of {{ contacts.paginator.num_pages }}</a></li>
                {% if contacts.has_next %}
                    <li class="page-item"><a class="page-link" href="?page={{ contacts.next_page_number }}">next</a></li>
                    <li class="page-item"><a class="page-link" href=?page={{ contacts.paginator.num_pages }}">last &raquo;</a></li>
                {% endif %}
                    </ul>
                    </nav>
</div>

</div>


{% endblock %}