{% extends 'base.html' %}
{% load static %}
{% block tiltle %}ABOUT{% endblock %}
{% block content %}
    <div class="container">
    <div class="row">
        <div class="col-md-6">
    <div class="jumbotron">
        <img  src="{% static 'img/taofeek.JPG' %}" alt="" class="rounded-circle img" >
        </div>
    </div>
            <div class="col-md-6">
                <h3 class="text-center"><u>ADESINA TAOFEEK(Jnr.Web Developer, Motion/Graphic Designer)</u></h3>
                <p>
                    I am a graduate of Agricultural Economics who like to learn new things every single day,
                    an enthusiast and outgoing person who know how to blend his skills with each other to
                    promote and efficiently carry out projects and thereby increase my employers production.
                    My experience in web programming using some awesome tools to build solid web applications,
                    software applications and many more. As this website is one of my project and many more
                     in process. Feel free to browse through the website to check my portfolio.</p>
                <hr>
                    <table class="table table-hover">
                    <thead class="table table-dark">
                    <th scope="row">Skills</th>
                    <th>Available Tools</th>
                    </thead>
                <tbody>
                <tr>
                <td>Graphic Designs</td>
                <td>Adobe Illustrator, Adobe photoshop, Adobe Indesign, CorelDraw</td>
                </tr>
                <tr>
                    <td>Motion Graphics</td>
                    <td>Adobe after effects, Adobe premier pro</td>
                </tr>
                <tr>
                    <td>Web Developing</td>
                    <td>Python, Django, javascript(basic), Bootstrap</td>
                </tr>
                </tbody>


            </table>

                </p>
                <a class="btn btn-success" href="https://www.linkedin.com/in/taofeek-adesina-6b163a148/">Read More.....</a>
            </div>



</div>
    </div>






{% endblock %}