
{% load static %}
  <head>
  <link rel="short-icon" type="image/x-icon" href="{% static 'img/favicon.png' %}"/>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a  class="navbar-brand" href="#"><img src="{% static 'img/Untitled-3.png' %}" style="width: 50px" alt=""></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
        {% with url_name=request.resolver_match.url_name %}

      <li class="nav-item active {% if url_name == 'post_list' %}active{% endif %}">
        <a class="nav-link" href="{% url 'post_list' %}">Home</a>
      </li>

      <li class="nav-item {% if url_name == 'about' %}active{% endif %}">
        <a class="nav-link" href="{% url 'about' %}">About</a>
      </li>
            <li class="nav-item {% if url_name == 'contact' %}active{% endif %}">
                <a class="nav-link" href="{% url 'contact' %}">Contact us</a>
            </li>
            {% if request.user.is_superuser %}
            <li class="nav-item dropdown{% if url_name == 'Porfolio' %}active{% endif %}">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">Portfolio
                </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="{% url 'portfolio:create-port' %}">Create portfolio</a>
                {% endif %}
            </div>
            </li>


    </ul>
      <ul class="navbar-nav float-right">
          {% if user.is_authenticated %}
              <li class="nav-item">
                  <a class="nav-link" href="{% url 'profile'   %}">Hi !({{ user.username }})<span class="fa fa-user"></span></a>
          </li>
        <li class="nav-item">
              <a class="nav-link" href="{% url 'logout' %}">Log Out</a>
          </li>
              </li>
              <li class="nav-item {% if url_name == 'port-list' %}active{% endif %}">
                <a class="nav-link" href="{% url 'portfolio:port-list' %}">Portfolio section</a>
            </li>
              <li class="nav-item {% if url_name == 'create' %}active{% endif %}">
              <a class="nav-link" href="{% url 'create' %}">Create Post &nbsp;<span class="fa fa-plus"></span></a>
          </li>
              {% else %}
          <li class="nav-item">
              <a class="nav-link" href="{% url 'login' %}">Log In</a>
          </li>
              <li class="nav-item {% if url_name == 'register' %}active{% endif %}">
              <a class="nav-link" href="{% url 'register' %}">Sign Up</a>
          {% endif %}
      </ul>
            <form  action="{% url 'search' %}" class="form-inline my-2 my-lg-0 float-right" method="GET" >
      <input class="form-control mr-sm-2" name="q" type="search" placeholder="Search for posts" aria-label="Search" required>
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  {% endwith %}

  </div>
</nav>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/5.1.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css" integrity="sha256-46qynGAkLSFpVbEBog43gvNhfrOj+BmwXdxFgVK/Kvc=" crossorigin="anonymous" />
      <link rel="stylesheet" href="{% static 'css/master.css' %}">

    <title>{% block tiltle %}{% endblock %}</title>
  </head>
{% if messages %}
    {% for message in messages %}
    {% if message.tags %}
    <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">{% endif %}
         {{ message }}
    {% endfor %}
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>

</div>
        {% endif %}


  <body>
    {% block content %}

    {% endblock %}



    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->


    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script src="{% static 'js/jquery.js' %}"></script>
    <script src="{% static 'js/query.js' %}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script type="text/javascript">


$(document).on('click', '#like', function (e) {
       e.preventDefault();
       const pk = $(this).attr('value');
       $.ajax({
           url:"{%  url 'like' %}",
           type: "POST",
           data:{'post_id':pk, 'csrfmiddlewaretoken':'{{ csrf_token }}'},
           dataType: 'json',
           success: function (response) {
               console.log($('#like-section').html(response['form']))
           },
           error: function (rs, e) {
               console.log(rs.responseText);
           },
       });
   });


</script>

    <script type="text/javascript">
        $(document).ready(function (event) {
            $(document).on('click', '#favored', function (event) {
                event.preventDefault();
                const id = $(this).attr('value')
                $.ajax({
                    url: '{% url 'favorite' %}',
                    type: 'POST',
                    dataType:'json',
                    data:{'post_pk':id, 'csrfmiddlewaretoken':'{{ csrf_token }}'},
                    success: function (response) {
                        $('#favorite-section').html(response['form'])
                    },
                    error: function (rs, e) {
                        console.log(rs.responseText);
                    }
                })
            })
})
    </script>
<script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '{your-app-id}',
      cookie     : true,
      xfbml      : true,
      version    : '{api-version}'
    });

    FB.AppEvents.logPageView();

  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "https://connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
</script>

  </body>
</html>